<div class="home-container">
    <!-- Hero Section -->
    <div class="hero-section">
      <img
        class="naruto-banner"
        src="assets/naruto-banner.png"
        alt="Naruto Banner"
      />
      <h1>Welcome to the Naruto Information App</h1>
      <p>Discover everything about Naruto characters, clans, and villages.</p>
    </div>
  
    <div class="nav-sections">
      <mat-card class="nav-card" routerLink="/characters">
        <mat-card-title class="img-title">
          <img matCardImage src="assets/main-characters.png" alt="" />
          <h2>Characters</h2>
        </mat-card-title>
        <mat-card-content>
          <p>Explore the rich characters of the Naruto universe.</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="nav-card" routerLink="/clans">
        <mat-card-header class="img-title">
          <img src="assets/uchiha-clan.png" alt="" />
          <h2 style="text-align: center; margin-left: 10px; margin-right: -9px">
            Clans
          </h2>
          <img src="assets/uzumaki-clan.png" alt="" />
        </mat-card-header>
        <mat-card-content>
          <p>Learn about the diverse clans and their histories.</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="nav-card" routerLink="/villages">
        <mat-card-title class="img-title">
          <img src="assets/leaf-village.png" alt="" />
          <h2>Villages</h2>
        </mat-card-title>
        <mat-card-content>
          <p>Discover the hidden villages and their secrets.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  