<div *ngIf="character | async as person; else loading" class="content">
    <mat-card>
      <mat-card-header>
        <mat-card-title>About {{ person.name }}</mat-card-title>
        <mat-card-subtitle>Naruto Characters</mat-card-subtitle>
      </mat-card-header>
      <mat-tab-group>
        <mat-tab
          [label]="'Image' + (i + 1)"
          *ngFor="let image of person.images; let i = index"
        >
          <img [src]="image" />
        </mat-tab>
      </mat-tab-group>
      <mat-card-content>
        <p><span>Character ID:</span> {{ person.id }}</p>
        <p><span>Character Name: </span>{{ person.name }}</p>
        <p><span>Number of images: </span> {{ person.images.length }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <ng-template #loading> loading... </ng-template>
  