<div class="group">
  <div>
    <label for="Name">Your name</label>
    <input
      type="text"
      placeholder="Name"
      ngModel
      #Name="ngModel"
      required
      minlength="9"
      (change)="log(Name)"
    />
  </div>
  <div *ngIf="Name.invalid && Name.touched">
    <div *ngIf="Name.errors?.['required']">Your Name Is Required</div>
    <div *ngIf="Name.errors?.['minlength']">
      Minimum length is {{Name.errors?.['minlength']?.requiredLength}}
    </div>
  </div>
  
  <div>
    <label for="address">Enter your Address</label>
    <input
      type="text"
      placeholder="Address"
      required
      ngModel
      #address="ngModel"
      minlength="4"
      (change)="log(address)"
    />
  </div>
  <div *ngIf="address.invalid && address.touched">
    <div *ngIf="address.errors?.['required']">Your Address Is Required</div>
    <div *ngIf="address.errors?.['minlength']">
      Minimum length is {{address.errors?.['minlength']?.requiredLength}}
    </div>
  </div>
  
  <div *ngIf="Name.valid && address.valid">
    <button (click)="display()">Show</button>
    <section *ngIf="show" class="houses">
      <your-house *ngFor="let houses of List" [house]="houses"> </your-house>
    </section>
  </div>
  
  <label for="comment">Give us Feedback</label>
  <textarea name="" id="comment" cols="30" rows="10"
  placeholder="What do you think!"
  #comment></textarea>
  
  <button *ngIf="Name.valid && address.valid">Submit</button>
  
</div>