<mat-sidenav-container class="example-container">
  <mat-sidenav
    #drawer
    class="drawer"
    fixedInViewport
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-nav-list>
      <img src="assets/itachi.png" alt="" class="itachi" />
      <div *ngFor="let chip of collections">
        <a
          mat-list-item
          routerLink="{{ chip.rout }}"
          (click)="drawer.close()"
          >{{ chip.name }}</a
        >
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <button
        (click)="drawer.toggle()"
        type="button"
        mat-icon-button
        *ngIf="isHandset$ | async"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span routerLink="/"
        ><img class="logo" [src]="imageSRC" (click)="changeImage()"
      /></span>

      <span class="fill-space"></span>
      <div *ngIf="!(isHandset$ | async)" class="collec-list">
        <div *ngFor="let chip of collections" class="title-img">
          <img [src]="chip.image" class="toolbar-img" />
          <a mat-button routerLink="{{ chip.rout }}" (click)="drawer.close()"
            >{{ chip.name }}
          </a>
        </div>
      </div>
    </mat-toolbar>

    <div style="flex-grow: 1">
      <ng-content></ng-content>
    </div>

    <footer>
      <p>© 2024 Naruto Info App. All rights reserved.</p>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
